@media screen and (max-width: 1920px) {
	.intro {
		margin-left: 64px;
		margin-right: 64px;
	}
}

@media screen and (max-width: 1440px) {
	.intro {
		margin: 0 32px;
	}
	.intro__right-title {
		left: -50px;
	}
}

@media screen and (max-width: 1330px) {
	.features__list {
		flex-wrap: wrap;
	}
	.features__item {
		width: calc(50% - 30px);
	}
	.features__item:nth-child(3) {
		width: 100%;
	}
	.advantage__inner.mp-wrapp {
		padding: 0 15px;
	}
	.advantage {
		margin: 0 15px;
	}
	.advantage__main {
		gap: 30px;
	}
	.brows {
		left: 29%;
	}
	.eye__right {
		left: 36%;
	}
	.eye__left {
		left: 30%;
	}
	.advantage__right:hover .eye__right {
		left: 37%;
	}
	.advantage__right:hover .eye__left {
		left: 31%;
	}
}

@media screen and (max-width: 1240px) {
	.intro__btn {
		margin: 0;
	}
	.intro {
		background: linear-gradient(180deg, rgba(73, 11, 159, 0.3), rgba(153, 0, 255, 0.3), white);
	}
	.intro__inner {
		padding-top: 56px;
		padding-bottom: 56px;
	}
	.intro__title,
	.intro__desc {
		text-align: center;
	}
	.intro__right-title {
		top: 7%;
		left: 0;
		transform: inherit;
	}
	.intro__left {
		justify-content: center;
		align-items: center;
	}
	.intro__right {
		margin: 0 auto;
	}
	.intro__right img {
		top: 80px;
		position: relative;
		width: 100%;
		max-width: 436px;
	}
	.intro__inner {
		flex-direction: column;
	}
	.advantage__inner.mp-wrapp,
	.mp-wrapp {
		padding-left: 32px;
		padding-right: 32px;
	}
	.advantage__right {
		display: none;
	}
	.advantage__main {
		gap: 0;
		align-items: center;
		justify-content: center;
	}
	.advantage__left {
		width: 100%;
	}
	.advantage__note-img {
		height: 132px;
	}
	.advantage__note-img img {
		max-height: 185px;
	}
}

@media screen and (max-width: 1120px) {
	.header__contacts-title {
	}
	.intro__title {
		text-align: center;
		font-size: min(7.5vw, 40px);
	}
	.intro__desc {
		margin-bottom: 16px;
		text-align: center;
		font-size: min(4.375vw, 18px);
	}
	.intro__btn {
		font-size: 16px;
		padding: min(5.3125vw, 20px) min(10vw, 40px);
	}
	.intro__right-title {
		font-size: min(6.25vw, 30px);
	}
	.tariffs__title {
		font-size: min(6.875vw, 32px);
		margin: 0 0 min(5vw, 29px);
	}
	.tariffs__item-title {
		font-size: min(6.25vw, 24px);
	}
	.tariffs__item-text {
		font-size: min(5vw, 18px);
		line-height: 130%;
		padding-bottom: 16px;
		margin-bottom: 16px;
	}
	.tariffs__item-price {
		font-size: min(7.5vw, 32px);
		margin-bottom: 16px;
	}
	.tariffs__item-price span {
		font-size: min(5vw, 24px);
	}
	.advantage__title {
		font-size: min(6.875vw, 32px);
		margin-bottom: min(10vw, 40px);
	}
	.advantage__item-title {
		font-size: min(4.0625vw, 16px);
	}
	.features__title {
		font-size: min(6.25vw, 32px);
		margin-bottom: min(10vw, 40px);
	}
	.features__item-icon {
		width: min(15vw, 64px);
		height: min(15vw, 64px);
		min-width: min(15vw, 64px);
		margin-right: min(5vw, 24px);
	}
	.reviews__title {
		margin-bottom: min(10vw, 40px);
		font-size: min(6.25vw, 32px);
	}
	.portfolio__title {
		font-size: min(6.25vw, 32px);
	}
	.portfolio__desc {
		font-size: min(4.375vw, 18px);
	}
	.faq__title {
		font-size: min(6.25vw, 32px);
	}
	.faq__item-title {
		font-size: min(5vw, 18px);
	}
	.form__title {
		font-size: min(6.25vw, 32px);
	}
	.form__desc {
		font-size: min(4.375vw, 18px);
		margin-bottom: min(10vw, 52px);
	}
	.footer__paysystems {
		flex-direction: column;
		padding: 16px;
	}
	.footer__paysystems-title {
		font-size: 16px;
		text-align: center;
		margin-bottom: 16px;
	}
	.header__contacts {
		display: flex;
		gap: 10px;
	}
	.header {
		border: 0;
	}
	.header__contacts-list .menu__btn {
		display: block;
		margin-left: 5px;
	}
	.header__contacts-list {
		gap: 10px;
	}
	.menu__btn {
		display: none;
	}
	.menu__nav {
		margin: 0 auto;
	}
	.header__contacts-item:nth-child(1),
	.header__contacts-item:nth-child(3) {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	.features__list {
	}
	.features__item {
		width: 100%;
	}
	.features__item:nth-child(3) {
		width: 100%;
	}
	.menu {
		padding: 0;
		opacity: 0;
		transition: all 0.3s ease-in;
	}
	.menu__btn-burger {
		display: block;
	}
	.menu.active {
		opacity: 1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #0000006b;
		backdrop-filter: blur(10px);
	}
	.menu.active .menu__btn-close {
		display: block;
	}
	.menu__list {
		flex-direction: column;
		align-items: flex-start;
	}
	.menu__nav {
		margin-right: 0;
		margin-left: 0;
		background: #fff;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		padding: 28px 16px 16px;
		overflow: auto;

		transform: translate(100%);
		transition: all 0.2s linear;
	}
	/* .menu.active .menu__nav {
		transform: translate(0);
	} */
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
	.advantage__note-title {
		font-size: min(4.0625vw, 18px);
	}
}

@media screen and (max-width: 576px) {
	.features__item-top {
		align-items: center;
	}
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
